<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "Bloggers", users_path, class: "nav-link" %>
      </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "(Admin)" if current_user.admin? %> Profile [<%= current_user.username %>]
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <%= link_to 'View your profile', user_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'Edit your profile', edit_user_path(current_user),class: 'dropdown-item' %>
            <%= link_to 'Delete your profile', user_path(current_user), method: :delete, class: 'dropdown-item text-danger', data: {confirm: 'Are your sure?'} %>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
      <% end %>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARTICLES ACTION</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <% if logged_in? %>
            <%= link_to 'Create new Article', new_article_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'View articles', articles_path,class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="ed-bt form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li class="nav-item active">
      <%= link_to "About", about_path, class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "Contact", about_path, class: "nav-link" %>
    </li>
  </div>
</nav>
